Library/
Temp/FSTimeGet-2fea8625f5b72f042989bd1fd07eef78
Temp/PropertyDatabase_1265138678
Temp/PropertyDatabase_2066312223
Temp/UnityLockfile
Temp/workerlic
Temp/FSTimeGet-f4422a14b54499946b30d56c169b6b29
Temp/FSTimeGet-edd24a22accc9764cb7851037acd8509
Temp/FSTimeGet-6fbac279c03f0394bb33e487f0d99ff3
Temp/FSTimeGet-6af63d7488d10df4584c6967d8650945
Temp/FSTimeGet-5d9271fd6fb43de4caafebdca2392da8
Temp/FSTimeGet-5a708398fe41e1f4785b4e70a5231c21
Temp/FSTimeGet-440424b23fa76c24799e42403e27d1ad
Temp/__Backupscenes/0.backup
obj/Debug/UnityEngine.UI.Player.csproj.AssemblyReference.cache
obj/Debug/UnityEngine.UI.Player.csproj.AssemblyReference.cache
obj/Debug/UnityEngine.UI.csproj.AssemblyReference.cache
*.cache
obj/Debug/UnityEngine.TestRunner.csproj.AssemblyReference.cache
*.cache
obj/Debug/Assembly-CSharp.Player.csproj.AssemblyReference.cache
obj/Debug/Unity.Services.Core.Environments.Internal.csproj.AssemblyReference.cache
obj/Debug/Unity.TextMeshPro.Player.csproj.AssemblyReference.cache
